@{
    ViewBag.Title = "Home Page";
}

<h2>Please enter a CoderBits Username</h2>
<p>
    @using(Html.BeginForm()){
        @Html.TextBox("username")
        <div>
            <input type="submit"/>
        </div>
    }
</p>

<p>
    

</p>